.slider-container {
    display: flex;
    overflow: hidden; /* Скрывает части слайдов, выходящие за пределы контейнера */
    width: 50%; /* Указывает, что контейнер слайдера должен занимать всю доступную ширину */
}

/* Класс для индивидуального слайда */
.slide {
    flex-shrink: 0; /* Предотвращает сжатие слайда */
    flex-grow: 0; /* Предотвращает растягивание слайда */
    flex-basis: 100%; /* Определяет базовую ширину слайда как 100% ширины контейнера */
    transition: transform 0.5s ease; /* Обеспечивает плавную анимацию перехода между слайдами */
    display: flex; /* Делает слайд flex-контейнером для дочерних элементов */
    justify-content: center; /* Центрирует содержимое слайда по горизонтали */
    align-items: center; /* Центрирует содержимое слайда по вертикали */
    /* Дополнительные стили для слайда */
}

/* Текст на слайде */
.slide-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px; /* Добавляет скругление к фону текста */
}

/* Стили для контейнера точек */
.dots-container {
    display: flex;
    justify-content: center;
    padding: 20px 0; /* Увеличенный отступ сверху и снизу для лучшей визуализации */
}

/* Стили для каждой точки */
.dot {
    cursor: pointer;
    height: 15px; /* Увеличенный размер для лучшего взаимодействия */
    width: 15px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 7px; /* Увеличенный отступ для лучшей визуализации */
    transition: background-color 0.3s ease; /* Ускорение анимации для более отзывчивого ощущения */
}

/* Стили для активной точки */
.dot.active {
    background-color: #717171;
}

/* Стили для адаптивности */
@media (max-width: 768px) {
    .slide-text {
        font-size: 14px; /* Адаптивный размер шрифта для мобильных устройств */
        padding: 8px; /* Меньший отступ вокруг текста */
        bottom: 10px; /* Помещает текст ближе к краю слайда */
        left: 10px;
    }

    .dot {
        height: 12px; /* Меньший размер точек для мобильных устройств */
        width: 12px;
        margin: 0 5px;
    }
}

