.header {
    display: flex;
    justify-content: space-between; /* Изменено для распределения пространства */
    align-items: center;
    padding: 1rem 2rem;
    background-color: #d0cccc;
    border-top: 1px solid #a2a5a8;
    width: 100%; /* Для растягивания на всю ширину */
    position: fixed; /* Фиксация на верху страницы */
    top: 0;
    left: 0;
    z-index: 100; /* Убедитесь, что header находится поверх других элементов */
}


.header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333; /* Темно-серый цвет текста */
    cursor: pointer;
}



.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li {
    margin: 0 1rem; /* Отступы между элементами меню */
    font-size: 1rem; /* Размер шрифта для элементов меню */
    white-space: nowrap; /* Запрет на перенос текста */
}

.menu li:last-child {
    margin-right: 0;
}


.menu a {
    text-decoration: none;
    color: #333; /* Цвет текста элементов меню */
    font-weight: normal; /* Вес шрифта для элементов меню */
    transition: color 0.3s ease; /* Плавный переход цвета при наведении */
}

.menu a:hover {
    color: #a2a5a8; /* Синий цвет при наведении */
}

.button-contact {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #5a5a5a; /* Белый фон кнопки */
    color: #333; /* Темно-серый цвет текста кнопки */
    border: 1px solid rgba(255, 255, 255, 0.35); /* Граница кнопки */
    /*border-radius: 0.25rem;*/
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-contact:hover {
    background-color: #e9ecef; /* Светло-серый фон при наведении */
    color: #5a5a5a; /* Синий цвет текста при наведении */
}
